{% extends "head.html" %}
{% load static %}

{% block csslink %}
<link rel="stylesheet" href="{% static 'css/criar_conta.css' %}">
{% endblock %}

{% block titulo %}
Criar Conta | Vision
{% endblock %}

{% block typenav %}
{% include "navbar.html" %}
{% endblock %}

{% block body %}
<div class="container-criar">
        <form>
            <h1>Criar Conta</h1>
            <div class="teste">
                <input type="email" id="email" required>
                <label for="email">Email</label>
            </div>
            <div class="teste">
                <input type="password" id="password" required>
                <label for="password">Senha</label>
            </div>
            <a href="/">
                <button class="btn-criar">Criar</button>
            </a>
            <div class="baixo-btn">
                <div class="lado-esquerdo">
                    <input type="checkbox"><span>Lembre-se de mim</span>
                </div>
                <a href="/">
                    <span>Precisa de ajuda?</span>
                </a>
            </div>
            <div class="opcao-baixo">
                <span>Já tem conta?</span>
                <a href="{% url 'streaming:login' %}">
                   <p>Entre agora</p> 
                </a>
            </div>
        </form>
    </div>
    
</div>
{% endblock %}