{% extends "head.html" %}
{% load static %}

{% block csslink %}
<link rel="stylesheet" href="{% static 'css/index_conta.css' %}">
{% endblock %}

{% block titulo %}
Sua Conta | Vision
{% endblock %}

{% block typenav %}
{% include "navbar_conta.html" %}
{% endblock %}


{% block body %}
<div class="container-index">
  {% for fs in object_list %}
    <div class="centralizar">
      <a href="{% url 'streaming:detalhesfilme' fs.id %}">
        <img class="thumb-filmes" src="{{fs.thumb.url}}">
      </a>
      <a href="{% url 'streaming:detalhesfilme' fs.id %}">
        <p class="titulo-filme-index">{{fs}}</p>
      </a>
      <p class="descricao-index"> {{fs.descricao}} </p>
    </div>
    <hr>
  {% endfor %}
</div>
{% endblock %}
